<h1>Punches</h1>
<hr >

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Dept</th>
      <th>Init</th>
      <th>End Date</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Activity</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @punches.each do |punch| %>
      <tr>
        <td><%= punch.current_date %></td>
        <td><%= punch.department %></td>
        <td><%= punch.initials %></td>
        <td><%= punch.week_end_date %></td>
        <td><%= punch.issue %></td>
        <td><%= punch.description %></td>
        <td><%= punch.start_time %></td>
        <td><%= punch.end_time %></td>
        <td><%= punch.activity %></td>
        <td><%= punch.notes %></td>
        <td><%= link_to "Edit", edit_punch_path(punch) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Punch In", new_punch_path %> | 
<%= link_to "Edit Account", edit_user_registration_path %> | 
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
